/* header section */

.banner-size {
    width: 1170px;
    height: 560px;
}

.custom-img {
    height: 70vh;
    object-fit: cover;
}

.banner-button {
    width: 100px;
}

.body-bg {
    background-color: #FFFFFF;
}


/* register section */

.register-text-color {
    color: #F4F4F4;
}

.custom-size {
    width: 120;
    height: 40px;
}


/* explore section */

.explore-bg-color {
    background-color: #F4FAFD;
}

.explore-bg-size {
    width: 100%;
    height: 100%;
}


/* fedback section */

#fedback-right-arrow-one {
    width: 40px;
    height: 40px;
    left: -20px;
    top: 45%;
    background-color: #E5F6FF;
}

#fedback-right-arrow-two {
    width: 40px;
    height: 40px;
    top: 45%;
    left: 550px;
}


/* footer section  */

#youtube-icon {
    background-color: red;
}

#linked-in-icon,
#fb-icon {
    background-color: white;
    color: white;
}