.banner-size {
    width: 1170px;
    height: 560px;
}

.banner-button {
    width: 100px;
}

.body-bg {
    background-color: #FFFFFF;
}

#youtube-icon,
#linked-in-icon,
#fb-icon {
    color: white;
}

.register-text-color {
    color: #F4F4F4;
}

.custom-size {
    width: 120;
    height: 40px;
}