.bg-photo {
    background-image: url('./images/cover/cover-1.png');
}

.banner-size {
    width: 1170px;
    height: 560px;
}

.banner-button {
    width: 100px;
}

.body-bg {
    background-color: #FFFFFF;
}